#--------------------------------------------------------------------
# JUSEA CMN v2.0 - Variables de Entorno
#--------------------------------------------------------------------

CI_ENVIRONMENT=development

#--------------------------------------------------------------------
# BASE DE DATOS
#--------------------------------------------------------------------
database.default.hostname=localhost
database.default.database=jusea_cmn
database.default.username=root
database.default.password=
database.default.DBDriver=MySQLi
database.default.port=3306

#--------------------------------------------------------------------
# APP
#--------------------------------------------------------------------
app.baseURL='http://localhost/JuseaCMN_v2/public/'
